body {
   margin: 0;
   background: rgb(30, 52, 64);
}

h1 {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main-header__h1 {
   font-size: 3rem;
}

.main-header {
   margin: auto;
   width: 45%;
   text-align: center;
   color: white;
}

#main-header__p {
   opacity: 0.5;
   margin-bottom: 5%;
   font-size: 1.25rem;
}

#pencil {
   width: 80px;
   height: 120px;  
}

img {
   width: 100px;
   height: 100px; 
   margin-top: 45%;
   margin-left: 50%;
   transform: translate(-50%, -50%);
}

.item__title {
   text-align: center;
   font-size: 1.5rem;
}

.item__p {
   text-align: center;
   margin: auto;
   color: white;
   opacity: 0.5;
   margin-bottom: 1%;
   font-size: 1.1rem;
   width: 70%;
   padding-bottom: 8%;
}

.item-text {
   position: absolute;
   color: white;
   bottom: 5%;
}

.container {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   height: 75vh;
   margin: auto;
   justify-content: center;
}
 
.item1, .item2, .item3, .item4, 
.item5, .item6, .item7, .item8 {
   width: 23%;
   padding: 5px;
   height: 50%;
   position: relative;
}

@keyframes jump {
   0%   {transform: translate3d(0,0,0)    scale3d(1,1,1);}
   50%  {transform: translate3d(0,-10%,0) scale3d(1,1,1);}
}

.item-image:hover{
   transform-origin: 50% 50%;
   animation: jump .9s linear infinite;
}

@media(max-width: 770px) {
   img {
      margin-top: 25%;
   }

   .main-header {
      width: 80%;
   }

   .item1, .item2, .item3, .item4, 
   .item5, .item6, .item7, .item8 {
      width: 48%;
   }

   .item__title {
      font-size: 1.8rem;
   }
   
   .item__p {
      margin-bottom: 1%;
      font-size: 1.5rem;
      width: 70%;
      padding-bottom: 8%;
   }
}